/* Google Font CDN link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* Navigation menu css */
nav{
    position: fixed;
    width: 100%;
    /* background-color: aqua; */
    padding: 20px 0;
    font-family: 'ubuntu' ,sans-serif;
}
nav .navbar{
    width: 90%; 
    margin: auto;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .navbar .logo a{
    font-size: 40px;
    font-weight:500;
    color: #4070f4;
}
nav .navbar .menu{
    display: flex;
}
nav .navbar .menu li{
    margin: 0 8px;
    list-style: none;
}
.navbar .menu li{
    font-size: 18px;
    font-size: 500;
    color: #0e2431;
}
.navbar .media-icon a{
    font-size: 18px;
    margin: 0 6px;
    color:#4070f4;
}

/* Respnsive Media Query css */
@media (max-width:750px){
    nav .navbar .menu{
        position: absolute;
        left:0;
        top: 0;
        height: 100vh;
        max-width: 400%;
        background: #0e2431;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
    }
    .navbar
}